<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ if .Page.Title}}{{ .Page.Title }}{{else}}{{ .Site.Title}}{{end}}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">
    <meta name="keywords" content="{{ range .Params.Tags }}{{ . }},{{ end }}">
    <meta name="categories" content="{{ if .Params.Categories }}{{ . }}{{else}}entrée, plat, dessert, base{{end}}">

    <link rel="canonical" href="{{ .Permalink }}" />  
    <link rel="stylesheet" href="{{ .Site.BaseURL}}/css/main.css">

    <script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css"/>
    <script defer src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
  <script>
    algoliasearchNetlify({
    appId: 'G1CLP4891G',
    apiKey: '6786f5d4d6ec0f3ddc9fa6683d4bc2c4',
    siteId: 'c441371c-c790-4a40-993c-bdf9cd973932',
    branch: 'main',
    selector: 'div#search',
    })
  </script>



  </head>