<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Les Recettes de Chan et Polo</title>
    <meta name="description" content="Les recettes de famille de Chantal et de Paul-Henri. Simples ou complexes, elles sont toujours savoureuses et a goût prononcé">
    <meta name="keywords" content="recettes, famille, goût, cuisine, gastronomie, plaisir, table">
    <meta name="categories" content="cuisine, recette, gastronomie">

    <link rel="canonical" href="{{ .Permalink }}" />  
    <link rel="stylesheet" href="{{ .Site.BaseURL}}/css/main.css">

    <script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>



  </head>