<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ if .Page.Title}}{{ .Page.Title }}{{else}}{{ .Site.Title}}{{end}}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">
    <meta name="keywords" content="{{ range .Params.Tags }}{{ . }},{{ end }}">
    <meta name="categories" content="{{ if .Params.Categories }}{{ delimit .Params.Categories ", "}} {{else}} entrée, plat, dessert, base{{end}}">

    <link rel="canonical" href="{{ .Permalink }}" />  
    <link rel="stylesheet" href="{{ .Site.BaseURL}}/css/main.css">

    <script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css"/>
    <script src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
    <script src="{{ .Site.BaseURL}}/js/algoliaSearch.js"></script>
    {{/*  <script src="{{ .Site.BaseURL}}/js/algoliaSearch_tmp.js"></script>  */}}

    <!-- pour valider la propriété auprès de google et indexer 
    balise mise le 2023 05 22 en remplacement de précédente -->
    <meta name="google-site-verification" content="gd6Ok9GgyoJt9uB7hdKebbyfiWmIiWHkK1diOyewbkQ" />

  </head>