
{{ define "main" }}

{{$image := resources.Get (print "images/" .Params.Photo)}}


<!-- créations des tailles d'images selon les breakpoints !-->

{{ $tinyBP := "320" }}
{{ $smallBP := "640" }}
{{ $mediumBP := "768" }}
{{ $largeBP := "1024" }}
{{ $XlargeBP := "1280" }}
{{ $2XlargeBP := "1536" }}
{{ $webpBP := "600"}}


{{ $tinyx := print $tinyBP "x" }}
{{ $smallx := print $smallBP "x" }}
{{ $mediumx := print $mediumBP "x" }}
{{ $largex := print $largeBP "x" }}
{{ $Xlargex := print $XlargeBP "x" }}
{{ $2Xlargex := print $2XlargeBP "x" }}
{{ $webpx := print $webpBP "x webp"}}

{{ $tinyw := print $tinyBP "w" }}
{{ $smallw := print $smallBP "w" }}
{{ $mediumw := print $mediumBP "w" }}
{{ $largew := print $largeBP "w" }}
{{ $Xlargew := print $XlargeBP "w" }}
{{ $2Xlargew := print $2XlargeBP "w" }}
{{ $webpw := print $webpBP "w webp"}}


<!-- redimensionnement des images -->

{{ $tiny := $image.Resize $tinyx }}
{{ $small := $image.Resize $smallx }}
{{ $medium := $image.Resize $mediumx }}
{{ $large := $image.Resize $largex }}
{{ $Xlarge := $image.Resize $Xlargex }}
{{ $2Xlarge := $image.Resize $2Xlargex }}
{{ $webp := $image.Resize $webpx }}


<header class="bg-mycolor-400 px-4 ">
    <h1 class="hidden lg:block uppercase text-center pb-0">{{.Title}}</h1>
    <h1 class="lg:hidden uppercase text-center pb-0">{{ if .Params.Titleshort}}{{.Params.Titleshort}}{{else}}{{.Title}}{{end}}</h1>

    <p class="text-center italic pb-3 md:pb-8 lg:pb-12 text-mycolor-900 text-lg">une recette de {{.Params.Author}}</p>
    <div >
        <figure>
            <picture>
                <source srcset="{{$webp.Permalink}}" type="image/webp">
                <source srcset='
                    {{$tiny.Permalink}} {{$tinyw}},
                    {{$small.Permalink}} {{$smallw}},
                    {{$medium.Permalink}} {{$mediumw}},
                    {{$large.Permalink}} {{$largew}},
                    {{$Xlarge.Permalink}} {{$Xlargew}},
                    {{$2Xlarge.Permalink}} {{$2Xlargew}}'
                    sizes="70vw"
                >
                <img class="mx-auto w-5/12 md:w-4/12 lg:w-3/12" src="{{ $medium.Permalink}}" alt="{{.Params.Alt}}"  width="{{$medium.Width}}" height="{{$medium.Height}}">
            </picture>
        </figure> 
    </div>
    
    
</header>

<main class="bg-mycolor-200 p-6">
    <div id="divCon">   
        {{ if (isset .Params "remarque") }} 
            {{ if gt
                (len .Params.Remarque) 0 }}
            <div class="block border border-gray-800  p-2 bg-gray-100 text-center italic">
                {{ .Params.remarque | markdownify }}
            </div>
            {{ end }}
        {{ end }}

        {{ .Content | markdownify }}
    </div>
    <br>

<script>
    function printDivContent() {
        var contentOfDiv = document.getElementById("divCon").innerHTML;
        var newWin = window.open('', '', 'height=650, width=650');
        newWin.document.write('');
        newWin.document.write('<title>{{ if .Params.Titleshort}}{{.Params.Titleshort}}{{else}}{{.Title}}{{end}}</title>');
        newWin.document.write(' <center><h1>{{ if .Params.Titleshort}}{{.Params.Titleshort}}{{else}}{{.Title}}{{end}}</h1></center> ');
        newWin.document.write(contentOfDiv);
        newWin.document.write('');
        newWin.document.close();
        newWin.print();
}
</script>


<button onclick="printDivContent()" >
    <figure >
        <img  src="/images/imprimante.png" class=" mx-auto w-4 md:w-6" alt="logo imprimante, bouton pour imprimer la page">
        <figcaption class="opacity-0 hover:opacity-100 text-sm : md:text-base">Print</figcaption>
    </figure>
</button>
<button><a href="#" class="no-underline"><figure >
    <img  src="/images/haut-page.png" class=" mx-auto w-4 md:w-6" alt="logo flèche vers le haut, pour aller en haut de la page">
    <figcaption class="opacity-0 hover:opacity-100 no-underline text-sm : md:text-base">Haut</figcaption>
</figure>
</a></button>

</main>


{{ end }}

