

<!DOCTYPE html>
<html lang="{{.Site.Language.Locale}}">
  {{ block "head" .}}
 
  {{ partial "head/head_main.html" .}}
  {{ end }}
  <body>
    
    {{- partial "nav/nav.html" . -}}

    <div id="search"></div>


    {{ block "main" . }}

    {{ end }}
    
    {{ block "footer" . }}
  
   {{ partial "footer/footer_main.html" . }}
    {{ end }}

    <script src="https://cdn.jsdelivr.net/npm/@algolia/experiences/dist/experiences.js?appId=WHDCHPS7CO&apiKey=a6b7b279627ed8de1ecf64109b8964d6&experienceId=WHDCHPS7CO&env=prod"></script>
  
  </body>
</html>