
{{$image := resources.Get (print "images/" .Params.Photo)}}

{{ $tinyBP := "320" }}
{{ $smallBP := "640" }}
{{ $mediumBP := "768" }}
{{ $largeBP := "1024" }}
{{ $XlargeBP := "1280" }}
{{ $2XlargeBP := "1536" }}
{{ $webpBP := "600"}}


{{ $tinyx := print $tinyBP "x" }}
{{ $smallx := print $smallBP "x" }}
{{ $mediumx := print $mediumBP "x" }}
{{ $largex := print $largeBP "x" }}
{{ $Xlargex := print $XlargeBP "x" }}
{{ $2Xlargex := print $2XlargeBP "x" }}
{{ $webpx := print $webpBP "x webp q50"}}

{{ $tinyw := print $tinyBP "w" }}
{{ $smallw := print $smallBP "w" }}
{{ $mediumw := print $mediumBP "w" }}
{{ $largew := print $largeBP "w" }}
{{ $Xlargew := print $XlargeBP "w" }}
{{ $2Xlargew := print $2XlargeBP "w" }}
{{ $webpw := print $webpBP "w webp"}}


<!-- redimensionnement des images -->

{{ $tiny := $image.Resize $tinyx }}
{{ $small := $image.Resize $smallx }}
{{ $medium := $image.Resize $mediumx }}
{{ $large := $image.Resize $largex }}
{{ $Xlarge := $image.Resize $Xlargex }}
{{ $2Xlarge := $image.Resize $2Xlargex }}
{{ $webp := $image.Resize $webpx }}


<li class="hidden lg:inline-grid grid grid-cols-6  gap-x-4 pt-1">
    <a href="{{.Permalink}}" >
        <figure>
            <picture>
                <source srcset="{{$webp.Permalink}}" type="image/webp">
                <source srcset='
                    {{$tiny.Permalink}} {{$tinyw}},
                    {{$small.Permalink}} {{$smallw}},
                    {{$medium.Permalink}} {{$mediumw}},
                    {{$large.Permalink}} {{$largew}},
                    {{$Xlarge.Permalink}} {{$Xlargew}},
                    {{$2Xlarge.Permalink}} {{$2Xlargew}}'
                    sizes="70vw"
                >
                <img class="col-span-1" src="{{ $medium.Permalink}}" alt="{{.Params.Alt}}" loading="lazy"  width="{{$medium.Width}}" height="{{$medium.Height}}">
            </picture>
        </figure> 
    </a>
    <a class="col-span-2 capitalize md:tracking-wide no-underline " href="{{.Permalink}}">
        <span class="font-normal md:font-semibold md:text-xl md:pt-1 hover:underline">{{.Title}}</span><br><span class="md:text-lg">{{.Date.Format "02/01/2006"}} </span><br><span class="md:text-lg">{{.Params.Author}} </span>
    </a>
    <span class=" col-span-3  tracking-tighter md:tracking-wide lg:tracking-widest md:text-lg">
        {{ .Params.Description | markdownify }}
    </span>
</li>


<a href="{{.Permalink}}" class="no-underline" >
    
    <div class="lg:hidden grid grid-cols-6 gap-2 text-sm pt-1">
        <div class="col-span-1">
            <figure>
                <picture>
                    <source srcset="{{$webp.Permalink}}" type="image/webp">
                    <source srcset='
                        {{$tiny.Permalink}} {{$tinyw}},
                        {{$small.Permalink}} {{$smallw}},'
                        sizes="70vw"
                    >
                    <img class="" src="{{ $small.Permalink}}" alt="{{.Params.Alt}}" loading="lazy" width="{{$small.Width}}" height="{{$small.Height}}">
                </picture>
            </figure> 
        </div>
            <div class="col-span-2 capitalize no-underline" href="{{.Permalink}}">
                {{ if .Params.Titleshort}}{{.Params.Titleshort}}{{else}}{{.Title}}{{end}}
            </div>
 
        <div class=" col-span-3 ">
            {{ if .Params.Short }}{{ .Params.Short | markdownify }}{{ else }}{{ .Params.Description | markdownify }}{{ end }}
        </div>
    </div>
</a>


