
<!DOCTYPE html>
<html lang = "{{.Site.LanguageCode}}">
  {{ block "head" .}}
    {{ partial "head/head_main.html" .}}
    <title>{{.Site.Title}}</title>
    
  
  {{ end }}
  <body>
    {{ partial "nav/nav.html" .}}

    <div id="search"></div>

    <div class="bg-mycolor-400">
    {{ block "header" .}}
      {{ partial "header/header_main.html" .}}
    {{ end }}
    </div>
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}
    
    <h2>Nos 5 dernières recettes</h2>
    <ul class="pt-2 md:pt-6 ">
      {{ range first 5 (where .Site.RegularPages  "Section" "recette")}}
        {{ partial "body/recettes-list.html" . }}
      {{ end }}
    </ul>

    <h2>Nos 5 dernières asiatiques</h2>
    <ul class="pt-2 md:pt-6 ">
      {{ range first 5 (where .Site.RegularPages  "Section" "asie")}}
        {{ partial "body/recettes-list.html" . }}
      {{ end }}
    </ul>

    <h2>Les 5 propositions du jour</h2>
    <div  id="suggestions" class="pt-2 md:pt-6 pb-1"></div>
    <script type="module" src="js/suggestions.js" defer></script>

  {{ block "footer" . }}
     {{ partial "footer/footer_main.html" . }}  
    

    {{ end }}

  </body>
</html>

  

