
<!DOCTYPE html>
<html lang = "{{.Site.LanguageCode}}">
  {{ block "head" .}}
    {{ partial "head/head_main.html" .}}
    <title>{{.Site.Title}}</title>

  
  {{ end }}
  <body>
    {{ partial "nav/nav.html" .}}

    <div id="search"></div>

    <div class="bg-mycolor-400">
    {{ block "header" .}}
      {{ partial "header/header_main.html" .}}
    {{ end }}
    </div>
    {{ block "main" . }}
      {{ .Content }}
    {{ end }}
    <br>
    <h2>Nos 5 dernières recettes</h2>
    <ul class="pt-2 md:pt-8 ">
      {{ range first 5 .Site.RegularPages }}
        {{ partial "body/recettes-list.html" . }}
      {{ end }}
    </ul>
    <h2>Les 5 propositions du jour</h2>

    <!-- création des variables entrée,plat, dessert  !-->
    {{ $e := slice "entrée" }}
    {{ $p := slice "plat" }}
    {{ $d := slice "dessert" }}

    <!-- création de trois arrays contenant respectivement entrées, plats et desserts !-->
    {{ $arrayE := where .Site.RegularPages.ByTitle "Params.categories" "intersect" $e}}
    {{ $arrayP := where .Site.RegularPages.ByTitle "Params.categories" "intersect" $p}}
    {{ $arrayD := where .Site.RegularPages.ByTitle "Params.categories" "intersect" $d}}
   
    <!-- création des length de ces trois arrays !-->
    {{ $lenP := len $arrayP}}
    {{ $lenE := len $arrayE}}
    {{ $lenD := len $arrayD}}




  {{ block "footer" . }}
     {{ partial "footer/footer_main.html" . }}  
    {{ end }}



  </body>
  
</html>

  

